
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-key:before { content: '\e802'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */